*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e  ;
}



.container{
 position: relative;
 background: #2f363e ;
 box-shadow: 10px 50px 70px rgba(0,0,0,0.25),inset 5px 5px 10px rgba(0,0,0,0.5),inset 5px 5px 20px rgba(0,0,0,0.2),inset -5px -5px 15px rgba(0,0,0,0.75);
 /* min-height:500px; */
 border-radius: 20px;
 border-top-left-radius: 225px;
 border-top-right-radius: 225px;
 display: flex;
 justify-content: center;
 align-items: center;

} 


.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background: #2f363e ;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),inset 5px 5px 10px rgba(0,0,0,0.5),inset 5px 5px 20px rgba(0,0,0,0.2),inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}



.clock::before{
    content: "";
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    width: 8px;
    height:8px;
    background: #2f363e ;
}


.clock span{
    position: absolute;
    inset: 20px;
    color: whitesmoke;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    /* 360 / 12 = 30deg */
}

.clock span b{
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    transform: rotate(calc(-30deg * var(--i)));
    display: block;
}


.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.circle2{
    position: absolute;
    width: 240px;
    height: 240px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
}


.circle3{
    position: absolute;
    width: 180px;
    height: 180px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
}

.circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: crimson;
}